<!DOCTYPE html>
<html lang="en">
<link href="https://fonts.googleapis.com/css?family=Crimson+Text&display=swap" rel="stylesheet">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Login/Registration</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body class="body1">
	<div class="container1">
	{% if messages %}
		<ul class="messages">    
			{% for message in messages %}    
			<li>{{ message }}</li>    
			{% endfor %}
		</ul>
	{% endif %}
	
	<div class="header">Welcome Travel Buddy: “Wherever you go, Go with all your heart.” – Confucius</div>
	<div class="box1">
			<form action="/createuser" method="post">
				{% csrf_token %}
				<h4>Register</h4>
				<p>Please fill in this form to create an account.</p>
				<p><input type="text" placeholder="First Name" name="fname"></p>
				<p><input type="text" placeholder="Last Name" name="lname"></p>
				<p><input type="text" placeholder="Email Address"name="useremail"></p>
				<p></p><input type="password" placeholder="Password" name="pw"></p>
				<p></p><input type="password" placeholder="Verify" name="cpw"></p>
				<br>
				<input class = "button1" type="submit" value="Register">
			</form>
		<br>
		</div>
		<div class="box2">
				<h4>Login</h4>	
				<p5>Already have an account?</p>
			<form action="/login" method="post">
				{% csrf_token %}
				<p><input type="text" placeholder="Email Address" name = "useremail"></p>
				<p><input type="password" placeholder="Password"name = "pw"></p>
				<br>
				<input class = "button2" type="submit" value="Log In">
			</form>
		</div>
		</div>
</body>
</html>