<!DOCTYPE html>
<html lang="en">
<link href="https://fonts.googleapis.com/css?family=Crimson+Text&display=swap" rel="stylesheet">
<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Travel Dashboard</title>
		{% load static %}
	<link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body class="body2">
	<div class="container2">
		<div class="header">
			<ul>
				<li class="logout"><a href="/logout">Logoff</a></li>
				<li>Hello, {{loggedInUser.firstName}}!: “A journey is best measured in friends, rather than miles.” – Tim Cahill</li>
			</ul>
		</div>
		
	 
		<br>
		<p>Your Trip Schedules</p> 
	

	 <table>
			<tr>
				<th>Destination</th>
				<th>Travel Start Date</th>
				<th>Travel End Date</th>
				<th>Plan</th>
			</tr>
		{% for travel in myPlannedTrips %}
			<tr>
				<td>{{travel.dest}}</td>
				<td>{{travel.travelStartDate}}</td>
				<td>{{travel.travelEndDate}}</td>
				<td>{{travel.plan}}</td>
			</tr>
		{% endfor %}
	</table>
<br>

	<p>Other User's Travel Plans</p> 
	<table>
			<tr>
				<th>Name</th>
				<th>Destination</th>
		 		<th>Travel Start Date</th>
		 		<th>Travel End Date</th>
		 		<th>Do You Want To Join</th>
			</tr>
		    {% for travel in allUsersTravelPlans %}
	 		<tr>
				<td>{{travel.planner.firstName}} {{travel.planner.lastName}}</td>
				<td><a href="/trips/{{travel.id}}">{{travel.dest}}</a></td>
				<td>{{travel.travelStartDate}}</td>
				<td>{{travel.travelEndDate}}</td>
				<td><a href="/jointravel/{{travel.id}}">Join</a></td>
			 </tr>
			{% endfor %}
 </table>
<br>
<h4>To add a travel plan; please click here</h4>
		<button class="button3"><a href="/travels/add">Add Travel Plan</a></button>
	</div>
</body>
</html>